In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("housing.csv")

In [4]:
df.columns

Index(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price', 'Address'],
      dtype='object')

In [5]:
feat=['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms', 'Area Population']

In [6]:
target='Price'

In [7]:
features=df[feat]
label=df[target]

In [8]:
features

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Area Population
0,79545.458574,5.682861,7.009188,23086.800503
1,79248.642455,6.002900,6.730821,40173.072174
2,61287.067179,5.865890,8.512727,36882.159400
3,63345.240046,7.188236,5.586729,34310.242831
4,59982.197226,5.040555,7.839388,26354.109472
...,...,...,...,...
4995,60567.944140,7.830362,6.137356,22837.361035
4996,78491.275435,6.999135,6.576763,25616.115489
4997,63390.686886,7.250591,4.805081,33266.145490
4998,68001.331235,5.534388,7.130144,42625.620156
4999,65510.581804,5.992305,6.792336,46501.283803

In [9]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\hp\anaconda3\lib\site-packages (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: numpy>=1.14.6 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn) (1.21.5)
Requirement already satisfied: scipy>=1.1.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn) (1.7.3)
Requirement already satisfied: joblib>=0.11 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn) (1.1.0)

In [10]:
## DATA SPILING AND TRAIN DATA AND TEST DATA

from sklearn.model_selection import train_test_split

In [11]:
k=train_test_split(features,label,test_size=.25,random_state=40)
train_feat,test_feat,train_label,test_label=k

In [12]:
## TRAIN THE MODEL

from sklearn.linear_model import LinearRegression

In [13]:
model=LinearRegression().fit(train_feat,train_label)

In [14]:
## EVALUATE THE TRAINING MODEl

In [15]:
help(model.score)

Help on method score in module sklearn.base:

score(X, y, sample_weight=None) method of sklearn.linear_model._base.LinearRegression instance
    Return the coefficient of determination of the prediction.

    The coefficient of determination :math:`R^2` is defined as
    :math:`(1 - \frac{u}{v})`, where :math:`u` is the residual
    sum of squares ``((y_true - y_pred)** 2).sum()`` and :math:`v`
    is the total sum of squares ``((y_true - y_true.mean()) ** 2).sum()``.
    The best possible score is 1.0 and it can be negative (because the
    model can be arbitrarily worse). A constant model that always predicts
    the expected value of `y`, disregarding the input features, would get
    a :math:`R^2` score of 0.0.

    Parameters
    ----------
    X : array-like of shape (n_samples, n_features)
        Test samples. For some estimators this may be a precomputed
        kernel matrix or a list of generic objects instead with shape
        ``(n_samples, n_samples_fitted)``, where ``n_samples_fitted``
        is the number of samples used in the fitting for the estimator.

    y : array-like of shape (n_samples,) or (n_samples, n_outputs)
        True values for `X`.

    sample_weight : array-like of shape (n_samples,), default=None
        Sample weights.

    Returns
    -------
    score : float
        :math:`R^2` of ``self.predict(X)`` wrt. `y`.

    Notes
    -----
    The :math:`R^2` score used when calling ``score`` on a regressor uses
    ``multioutput='uniform_average'`` from version 0.23 to keep consistent
    with default value of :func:`~sklearn.metrics.r2_score`.
    This influences the ``score`` method of all the multioutput
    regressors (except for
    :class:`~sklearn.multioutput.MultiOutputRegressor`).

In [16]:
model.score(test_feat, test_label)*100

91.44901090753018

In [17]:
## DEPLOY THE MODEL

In [18]:
model.feature_names_in_

array(['Avg. Area Income', 'Avg. Area House Age',
       'Avg. Area Number of Rooms', 'Area Population'], dtype=object)

In [19]:
inc=eval(input("enter INcome"))
age=eval(input("enter the house age"))
room=eval(input("ENter the number of room"))
pop=eval(input("enter the popluation:"))

      #row # column in numpy array  
query=[[inc,age,room,pop]]
query=pd.DataFrame(query,columns=model.feature_names_in_)
pred=model.predict(query)
print(round(pred[0],2))

10315674.41

In [20]:
query=pd.DataFrame(query,columns=model.feature_names_in_)
query

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Area Population
0,5,45,45,45

In [22]:
test_label_pred=model.predict(test_feat)
test_label_pred

array([1437663.84114604, 1542265.81340293, 1708326.51888789, ...,
        967281.12653247, 1303217.73123972, 1051208.99432567])

In [23]:
test_label_pred[0]

1437663.8411460356

In [24]:
test_label.values[0]

1435769.7688373898

In [26]:
import seaborn as sns

## SUMMARY

In [30]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression


df=pd.read_csv('housing.csv')
target='Price'
feat=['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms', 'Area Population']
features=df[feat]
label=df[target]
k=train_test_split(features,label,test_size=.25,random_state=40)
model=LinearRegression().fit(train_feat,train_label)

print('Test_score:',round(model.score(test_feat,test_label)*100,2),'%')
print('Train_score:',round(model.score(test_feat,test_label)*100,2),'%')

Test_score: 91.45 %
Train_score: 91.45 %

In [33]:
## SAVE THE MODEL

pd.to_pickle(model,'housePricePredictor.pkl')

In [36]:
# LOAD THE MODEL
House=pd.read_pickle('housePricePredictor.pkl')
House
House.coef_

array([2.15020699e+01, 1.65916430e+05, 1.21783809e+05, 1.50686194e+01])

In [32]:
## USE THE PREDICTION MODEL
inc=eval(input("enter INcome"))
age=eval(input("enter the house age"))
room=eval(input("ENter the number of room"))
pop=eval(input("enter the popluation:"))

      #row # column in numpy array  
query=[[inc,age,room,pop]]
query=pd.DataFrame(query,columns=model.feature_names_in_)
pred=model.predict(query)
print(round(pred[0],2))

185787716.02