## PANDAS

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
s=pd.Series([1,2,3,4,5,6])

In [4]:
s

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [7]:
s.sum()

21

In [8]:
s.mean()

3.5

In [10]:
s.value_counts()

1    1
2    1
3    1
4    1
5    1
6    1
dtype: int64

In [12]:
s[4]

5

In [14]:
s1=pd.Series(['hi','hlo','how','why','what'])
s1

0      hi
1     hlo
2     how
3     why
4    what
dtype: object

In [17]:
s1.str.upper()      #uppeer case
s1.str.lower()      #loweer case

0      hi
1     hlo
2     how
3     why
4    what
dtype: object

In [19]:
s4=pd.Series(s,index=[2,3,4,5,6,6,7])
s4

2    3.0
3    4.0
4    5.0
5    6.0
6    NaN
6    NaN
7    NaN
dtype: float64

In [20]:
s.unique()  #numpy array

array([1, 2, 3, 4, 5, 6], dtype=int64)

In [21]:
s.nunique()

6

## DATAFRAME

In [35]:
s1=pd.DataFrame([1,23,4,5,6,7,8,9,0])
s1

    0
0   1
1  23
2   4
3   5
4   6
5   7
6   8
7   9
8   0

In [26]:
s=pd.DataFrame({'number':[1,2,34,5],'name':['rahul','mittu','vipul','buggu']})
s

   number   name
0       1  rahul
1       2  mittu
2      34  vipul
3       5  buggu

In [31]:
s.count()

number    4
name      4
dtype: int64

In [37]:
s1.shape

(9, 1)

In [38]:
s1.info

<bound method DataFrame.info of     0
0   1
1  23
2   4
3   5
4   6
5   7
6   8
7   9
8   0>

In [39]:
s.size

8

In [41]:
s.tail(2)

   number   name
2      34  vipul
3       5  buggu

In [43]:
s['new']=pd.Series([12,3,4,5,6,6,78])
s

   number   name  new
0       1  rahul   12
1       2  mittu    3
2      34  vipul    4
3       5  buggu    5

## FUNCTION



# intial funtion
-> create()
-> Access()
-> Insert new item
-> drop


#  Describe

info()
unique()
nunique()
shape
size
count()
describe()
value_counts()


#  States

sum()
max()
min()
mean()



# file operations

# Read

pd.read_csv('name of file')
pd.read_json('name of file')
pd.read_excel('name of file')

# Write

df.to_csv(name of file.csv)
df.to_