In [1]:
!python -m pip install pandas

Requirement already satisfied: pandas in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (2.0.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

In [4]:
dict_1={"names":['a','b'],"ENC":[[1,2,3,4],[5,6,7,8]]}

In [5]:
dict_1

{'names': ['a', 'b'], 'ENC': [[1, 2, 3, 4], [5, 6, 7, 8]]}

In [6]:
database = pd.DataFrame(dict_1)     # it is used to  form exexl form
database

  names           ENC
0     a  [1, 2, 3, 4]
1     b  [5, 6, 7, 8]

In [7]:
database.to_csv("database.csv")         #csv means comma separte value

## DAY 7   PANDAS LEARNING

In [10]:
dict_1={"names":['a','b','c'],"ENC":[[1,2,3],[4,5,6],[7,8,9]]}    # HOW TO FORM A DICT

dict_1

{'names': ['a', 'b', 'c'], 'ENC': [[1, 2, 3], [4, 5, 6], [7, 8, 9]]}

In [11]:
datab=pd.DataFrame(dict_1)
datab                                                       # HOW TO FORM A NEW DATAFRAME

  names        ENC
0     a  [1, 2, 3]
1     b  [4, 5, 6]
2     c  [7, 8, 9]

In [12]:
datab.to_csv("hi_dict")       # HOW TO FORM A NEW CSV FILE BY THIS

In [13]:
new_df=pd.read_csv("hi_dict",index_col=0)                       # READ THE PREVIOUS DATA FRAME BY NEW DATA FRAME
new_df

  names        ENC
0     a  [1, 2, 3]
1     b  [4, 5, 6]
2     c  [7, 8, 9]

In [14]:
n=new_df["names"]
e=new_df["ENC"]
n=n.values.tolist()
e=e.values.tolist()

print(e)
type(e)

['[1, 2, 3]', '[4, 5, 6]', '[7, 8, 9]']

list

In [15]:
new_df={"name":n,"enc":e}   # HOW TO FETCH THE DATA FROM NEW DATA FRAME
new_df

{'name': ['a', 'b', 'c'], 'enc': ['[1, 2, 3]', '[4, 5, 6]', '[7, 8, 9]']}

In [34]:
new_df={"name":n,"enc":e}
new_df["name"].append("d"),new_df["enc"].append('[1,2,3]')


new_df                                                                       # ADDINF A NEW DATA IN DICT

{'name': ['a', 'b', 'c', 'd', 'd', 'd', 'd', 'd', 'd', 'd', 'd', 'd', 'd'],
 'enc': ['[1, 2, 3]',
  '[4, 5, 6]',
  '[7, 8, 9]',
  [1, 2, 3],
  [1, 2, 3],
  [1, 2, 3],
  [1, 2, 3],
  [1, 2, 3],
  [1, 2, 3],
  [1, 2, 3],
  [1, 2, 3],
  '[1,2,3]']}

In [35]:
dic={"hlo":['a','b','c'],"enc":[[1,2,3],[4,5,6],[7,8,9]]}

dic

{'hlo': ['a', 'b', 'c'], 'enc': [[1, 2, 3], [4, 5, 6], [7, 8, 9]]}

In [38]:
df1=pd.DataFrame(dic)
df1.to_csv("dic")
df1

n=df1["hlo"]
e=df1["enc"]

print(n)
print(e)

0    a
1    b
2    c
Name: hlo, dtype: object
0    [1, 2, 3]
1    [4, 5, 6]
2    [7, 8, 9]
Name: enc, dtype: object